@import '~bulma/sass/utilities/_all';

.tp-side-menu {
  background-color: #eff6f8;
  min-width: 84px;
  // margin-right: 2rem;
}

.main-container {
  padding-top: 1rem;

  &--horizontal-spacer {
    width: 24px;
  }
}
