@import "../../styles/_variables.scss";

.editable {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1rem;
  }
}

.icon__button {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  path {
    transition: $transition;
  }

  &--disabled {
    path {
      fill: $grey-light; 
    }
  }
}