@import "../../styles/_variables.scss";

.modal {
  // not the nicest overwrite but the less ugly one
  &-open {
    height: 100vh;
    overflow-y: hidden;
  }

  &-close {
    position: absolute;
    top: -2.5rem;
    right: 0;

    &::before {
      width: 80%;
    }
    &::after {
      height: 80%;
    }
  }

  &__heading {
    font-size: 1.5rem !important;
    margin: -0.5rem -2rem 0 -2rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid $grey-light;
  }

  &-content {
    overflow: visible;
  }

  &-container {
    z-index: 100;
    position: fixed;
  }

  &__box {
    height: 100%;
    overflow: auto;
  }

  &__buttons {
    margin-top: 1.5rem;
  }
}