@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.title {

  &__wrapper {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__line {
    border: .25rem solid $redi-orange-dark;
    border-radius: 2px;
    width: 3.5rem;
    margin-top: $size-4;
    margin-bottom: $size-6;

    @include mobile() {
      margin-top: $size-7;
      margin-bottom: $size-5 / 2;
    }
  }

  @include mobile() {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 1.5px;
    font-weight: $weight-normal;
  }

  &__headline {
    font-size: 2.25rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: $family-secondary;
    font-weight: $weight-normal;

    @include mobile() {
      font-size: $size-4;
      line-height: 2rem;
    }
  }

  &__teaser {
    text-transform: uppercase;
  }
}