@import '~bulma/sass/utilities/_all';
@import '../../../styles/_variables.scss';

.m-sessions {
  &__list {
    counter-reset: session;
    &__item {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:before {
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.3rem;
        text-align: center;
        font-size: 0.75rem;
        display: inline-block;
        counter-increment: session;
        content: counter(session);
        color: $white;
        border-radius: 50%;
        background-color: $redi-orange-dark;
        margin-right: 1.5rem;
      }
    }
  }
  &__add {
    transition: $transition;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0 -0.5rem;
    border-radius: 50%;

    &:hover {
      background-color: $redi-orange-extra-light;
    }
  }
}
