@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.tp-main-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;

  /* Active bar for desktop layout */
  &__active-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: $redi-blue-dark;

    @media screen and (max-width: 1191px) {
      display: none;
    }
  }

  /* Active bar for tablet and mobile layouts */
  &__active-bar--horizontal {
    display: none;

    @media screen and (max-width: 1191px) {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $redi-blue-dark;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-position: center center;
  }

  &__profile-page {
    background-image: url('../../assets/images/navigation-icons/profile-page__idle.svg');
  }
  &__profile-page:hover {
    background-image: url('../../assets/images/navigation-icons/profile-page__hover.svg');
  }
  &__profile-page:active {
    background-image: url('../../assets/images/navigation-icons/profile-page__mousedown.svg');
  }
  &__profile-page.disabled {
    background-image: url('../../assets/images/navigation-icons/profile-page__disabled.svg');
  }

  &__browse-page {
    background-image: url('../../assets/images/navigation-icons/browse-page__idle.svg');
  }
  &__browse-page:hover {
    background-image: url('../../assets/images/navigation-icons/browse-page__hover.svg');
  }
  &__browse-page:active {
    background-image: url('../../assets/images/navigation-icons/browse-page__mousedown.svg');
  }
  &__browse-page.disabled {
    background-image: url('../../assets/images/navigation-icons/browse-page__disabled.svg');
  }

  &__cv-builder-page {
    background-image: url('../../assets/images/navigation-icons/cv-builder-page__idle.svg');
  }
  &__cv-builder-page:hover {
    background-image: url('../../assets/images/navigation-icons/cv-builder-page__hover.svg');
  }
  &__cv-builder-page:active {
    background-image: url('../../assets/images/navigation-icons/cv-builder-page__mousedown.svg');
  }
  &__cv-builder-page.disabled {
    background-image: url('../../assets/images/navigation-icons/cv-builder-page__disabled.svg');
  }

  .disabled {
    cursor: not-allowed;
  }
}
