@import '_variables';
@import '~bulma/sass/utilities/_all';

.onboarding-steps {
  display: flex;
  flex-direction: column;

  padding: 0;

  @include touch() {
    margin-bottom: 1.5rem;
  }
  @include desktop() {
    margin-bottom: 2.5rem;
  }

  border: 1px solid $grey-light;

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
  }

  &--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 18px 26px;
    margin: 0;

    div {
      flex-grow: 1;
    }

    svg.checklist-image {
      margin-right: 20px;
    }
  }
  &--item.current-step {
    background-color: $redi-blue-light;
  }
  &--item.completed-step {
    color: $redi-blue-dark;
  }
}

.tooltip-text {
  font-family: Avenir LT Std;
}
