@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.mobile-application-card {
  padding: $column-gap;
  border-radius: $radius;
  transition: $transition;
  box-shadow: $card-shadow;
  cursor: pointer;

  &:hover {
    box-shadow: $card-shadow-hover;
  }

  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }

  &__avatar {
    flex-grow: 0;

    .avatar {
      width: 4rem;
      height: 4rem;
      z-index: 0;
    }
  }

  &__link {
    font-weight: $weight-bold;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  &-details {
    transition: $transition;
    padding: 0 1.5rem;
    overflow: hidden;
    max-height: 0;

    &--show {
      max-height: 1000px;
      margin: 1.5rem 0;
    }
  }

  &-dropdown {
    flex-grow: 0;

    .icon {
      transition: $transition;

      &--rotate {
        transform: rotate(180deg);
      }
    }
  }

  &-pending {
    @extend .mobile-application-card;
    border: 1px solid $redi-orange-dark;

    &__status {
      color: #fd4d00;
    }
  }
}

.action-buttons {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-bottom: 8px;
  gap: 30px;
}

.mobile-column {
  padding-left: 0;
}
