@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.mobile-application-card {
  padding: $column-gap;
  border-radius: $radius;
  transition: $transition;
  box-shadow: $card-shadow;

  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: left;

    .avatar {
      width: 4rem;
      height: 4rem;
      padding-top: 2rem;
      margin: 0 0.5rem;
      flex-shrink: 0;
      z-index: 0;
    }
  }

  &__link {
    font-weight: $weight-bold;
    color: $primary;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &-details {
    transition: $transition;
    padding: 0 1.5rem;
    overflow: hidden;
    max-height: 0;

    &--show {
      max-height: 1000px;
      margin: 1.5rem 0;
    }
  }

  &-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      transition: $transition;

      &--rotate {
        transform: rotate(180deg);
      }
    }
  }

  &-pending {
    @extend .mobile-application-card;
    border: 1px solid $redi-orange-dark;

    &__status {
      color: #fd4d00;
    }
  }
}

.action-buttons {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-bottom: 8px;
  gap: 30px;
}
