@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.button {
  display: inline-flex;
  margin-bottom: .375rem;
  margin-left: .375rem;
  background: none;
  border: none;
  box-sizing: border-box;
  font-weight: $weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 1.7px;
  line-height: 1rem;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  border: 2px solid black;
  transform-style: preserve-3d;

  @include mobile() {
    width: calc(100% - .5rem);
    justify-content: center;
  }

  &--default {

    &:after {
      content: '';
      transform: translateZ(-1px);
      position: absolute;
      top: 8px;
      right: 8px;
      width: 100%;
      height: 100%;
      background-color: $redi-orange-light;
    }

    &:hover::after {
      background-color: $redi-orange;
    }

    &:active {
      background-color: black;
      color: white;
    }

    &:active::after {
      background-color: transparent;
    }

    &:disabled {
      color: black;

      &:after {
        background-color: $grey-light;
      }
    }
  }

  &--fullwidth {
    width: calc(100% - .5rem);
    justify-content: center;
  }

  &--small {
    font-size: .875rem;
    padding: .8125rem 1.5rem;
  }

  &--large {
    line-height: 1.5rem;
    padding: 1rem 1.8125rem;

    @include mobile() {
      line-height: 1rem;
    }
  }

  &--simple {
    margin-top: 2px;
    border: none;

    &:hover {
      color: $redi-orange-dark;
    }
  }

  &--img {
    margin-left: .5rem;
  }
}