@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.button {
  display: inline-flex;
  background: none;
  font-weight: $weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $size-6;
  letter-spacing: 1.7px;
  line-height: 1rem;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  border: 2px solid $black;
  transform-style: preserve-3d;

  + .button {
    margin-left: 1rem;
  }

  @include mobile() {
    width: calc(100% - .5rem);
    justify-content: center;
  }

  &--default {
    margin-right: .5rem;
    padding: 0 1.5rem;

    // margin-bottom: .5rem;

    &:after {
      content: '';
      transform: translateZ(-1px);
      position: absolute;
      top: 0.375rem;
      left: 0.375rem;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background-color: $redi-orange;
    }

    &:hover::after {
      background-color: $redi-orange-dark;
    }

    &:active {
      background-color: black;
      color: white;
    }

    &:active::after {
      background-color: transparent;
    }

    &:disabled {
      color: $grey-dark;

      &:after {
        background-color: $grey-light;
      }
    }
  }

  &--simple {
    border: none;
    padding: 0 1rem;

    &:hover {
      color: $redi-orange-dark;
    }
  }

  &--small {
    height: 3rem;
  }

  &--medium {
    height: 3.5rem;
  }

  &--large {
    font-size: $size-5;
    height: 4rem;
    padding: 0 1.875rem;

    @include mobile() {
      height: 3.5rem;
    }
  }

  &--fullWidth {
    width: calc(100% - .5rem);
    justify-content: center;
  }

  &__arrow {
    margin-left: .5rem;
  }
}