@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  font-weight: $weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $size-normal;
  letter-spacing: 1.7px;
  line-height: $size-normal;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &[disabled] {
    color: $black;
    &:hover {
      background-color: $grey-light;
      color: $black;
    }
  }

  &--default {
    position: relative;
    background-color: $redi-orange-light;
    margin-top: $size-5 / 2;
    margin-right: $size-5 / 2;

    @include mobile() {
      width: calc(100% - 0.5rem);
      justify-content: center;
    }

    &:hover {
      background-color: $redi-orange;
    }

    &:active {
      background-color: $black;
      color: $white;
    }

    &::before {
      content: "";
      border: 2px solid $black;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: $size-5 / 2;
      left: $size-5 / 2;
    }

    &:active::before {
      display: none;
    }
  }

  &--simple {
    background-color: transparent;
    margin-top: $size-5 / 2;
  }

  &--large {
    line-height: 1.5em;
    // padding: 0.8rem 2rem 2rem 3.6rem;
    padding: 0.5em 1.25em 1.25em 2.25em;

    &:active {
      padding: 0.875em 1.75rem;
    }
  }

  &--medium {
    padding: 0.8em 1em 1.5em 2em;

    &:active {
      padding: 1em 1.5em;
    }
  }

  &--small {
    font-size: $size-7;
    letter-spacing: 1.3px;
    padding: 0.25em 1em 1.25em 2em;

    &:active {
      padding: 0.75em 1.5em;
    }
  }

  &--icon {
    padding: 0.5em 1em 1.5em 2em;

    &:active {
      padding: 1em 2em 1em 1em;
    }
  }

  &--img {
    margin-left: 0.5em;
  }
}
