@import "../../styles/_variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.7px;
  line-height: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &--default {
    position: relative;
    background-color: $redi-orange-light;
    margin-top: 0.8rem;
    margin-right: 0.8rem;

    &:hover {
      background-color: $redi-orange-dark;
    }

    &:active {
      background-color: $black;
      color: $white;
    }

    &::before {
      content: "";
      border: 2px solid $black;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0.8rem;
      left: 0.8rem;
    }

    &:active::before {
      display: none;
    }
  }

  &--simple {
    background-color: transparent;
    margin-top: 0.8rem;
  }

  &--large {
    line-height: 2.4rem;
    padding: 0.9rem 2.1rem 2.3rem 3.7rem;

    &:active {
      padding: 1.6rem 2.9rem;
    }
  }

  &--medium {
    padding: 0.9rem 1.6rem 2.3rem 3.2rem;

    &:active {
      padding: 1.6rem 2.4rem;
    }
  }

  &--small {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    padding: 0.5rem 1.6rem 1.9rem 3.2rem;

    &:active {
      padding: 1.2rem 2.4rem;
    }
  }

  &--icon {
    padding: 0.8rem 1.6rem 2.4rem 3.2rem;

    &:active {
      padding: 1.6rem 3.2rem 1.6rem 1.6rem;
    }
  }

  &--img {
    margin-left: 0.8rem;
  }
}
