@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.icon {
  &--small {
    width: 16px;
  }
  
  &--space-left {
    margin-left: .5rem;
  }

  &--space-right {
    margin-right: .5rem;
  }
}
