@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.media-icons {
  &__wrapper {
    display: flex;
    width: min-content;
  }

  &__icon {
    height: 2.75rem;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:first-child {
      margin-left: -.75rem;

      @include mobile() {
        margin-left: -.5rem;
      }
    }

    @include mobile() {
      width: 2rem;
      height: 2rem;
    }
  }
}