@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.media-icons {
  &__list {
    display: flex;

    @include desktop() {
      justify-content: space-between;
    }

    @include tablet() {
      flex-wrap: wrap;
    }
  }

  &__icon {
    @include touch() {
      margin-right: 1rem;
    }
  }
}