@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

// getting complicated an hard to maintain, needs refactoring
.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  width: 100%;
  padding-top: 100%;
  height: auto;

  &::before {
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
  }

  &--editable {
    border: 4px solid $redi-orange-dark;
    box-shadow: 2px 0 15px 0 rgba(255, 92, 31, 0.34);
    padding-top: calc(100% - 8px);

    &:before {
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      margin: 0.5rem;
    }

    .avatar__image {
      top: 8px;
      left: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
    }

    cursor: pointer;
    &:not(.avatar--placeholder)::before {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: $transition;
      z-index: 2;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .avatar__button {
        opacity: 1;
        z-index: 3;
      }
    }
  }

  &--square {
    border-radius: 10px;
  }

  &--square::before {
    border-radius: 0;
  }

  &--placeholder:before {
    border: 1px solid #a0a0a0;
    background-color: $grey-extra-light;
  }

  &__image {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__image--square {
    border-radius: 0;
  }

  &__button {
    position: absolute;
    transition: $transition;
    width: 70%;
    line-height: 2.2rem;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $grey-light;
    color: $grey-light;
    border-radius: $radius;
  }

  &__placeholder {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &__image {
      display: block;
      width: 50%;
      height: 50%;
      margin: 0 25%;
    }

    &__text {
      margin-top: 0.5rem;
    }
  }

  &__input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }
}

.reactEasyCrop_Container {
  top: 73px;
}
