@import '~bulma/sass/utilities/_all';

.career-partner-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 48px 0;
  padding: 24px;
  border-radius: 8px;
  background: var(--grey-ultra-light, #f5f5f5);
  @include mobile() {
    margin: 32px auto;
    padding: 12px;
    max-width: 550px;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid black;

    &__separator {
      width: 1px;
      height: 2rem;
      border-left: 1px solid black;
      margin: 0 24px;
      @include mobile() {
        margin: 0 16px;
      }
    }

    &__badge {
      display: flex;
      align-items: center;
      padding-left: 24px;
      @include mobile() {
        padding-left: 0;
      }

      &-icon {
        margin-right: 16px;
        @include mobile() {
          margin-right: 8px;
        }
      }

      &-text {
        word-break: unset;
      }
    }

    &__since,
    &__jobs-posted {
      text-transform: uppercase;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;

      &:last-child {
        padding-right: 24px;
        @include mobile() {
          padding-right: 16px;
        }
      }
    }
  }

  &-bottom {
    padding-top: 16px;

    font-size: 16px;
    line-height: 25px; /* 156.25% */

    @include mobile() {
      font-size: 13.5px;
      line-height: 20px; /* 148.148% */
    }
  }
}
