@import '_variables.scss';

.job-posting-link:hover {
  text-decoration: none;
  padding: 0;
}

.job-posting-card {
  border-radius: 4px;
  overflow: hidden;
  padding: 32px;
  &:hover {
    box-shadow: $card-shadow-hover;
  }

  &__job-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
  }

  &__company-name {
    color: $grey;
  }

  &__location {
    &__locationIcon {
      align-self: center;
    }
  }

  &__image {
    height: 136px;
    width: 136px;
    padding: 10px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 100%;
  }

  &__favorite {
    text-align: right;

    &__icon {
      transition: $transition;

      path {
        fill: $redi-orange-dark;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__timeFooterBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-left: 40px;
  }

  &__firstColumn {
    padding: 0;
  }

  &__middleColumn {
    padding: 0;
    padding-left: 40px;
    max-width: 600px;

    & .tags {
      flex-wrap: nowrap;

      & .tag {
        margin: 0;
      }

      &__last-row {
        width: max-content;
      }
    }
  }

  &__lastColumn {
    padding: 0;
  }

  &__columns {
    // gap: 0;
    margin: 0;
  }

  &__content {
    padding: 0;
  }
}
