@import "~bulma/sass/utilities/_all";
@import "../../../styles/_variables.scss";

.m-contacts {
  &__row {
    display: flex;
    margin-bottom: 0.5rem;

    &__label {
      color: $grey;
      width: 6rem;
    }
  }
}