.active-filters {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &__label {
    margin-right: 1rem;
  }

  .selected-filters {
    &__remove {
      margin-left: 0.2rem !important;
      padding: 0.3rem;
    }
  }

}