.filters {
  margin-bottom: 1.5rem;
}

.active-filters {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &__remove {
      margin-left: 0.2rem !important;
      padding: 0.3rem;
  }

  &__clear-all {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0.5rem 0.5rem;

    .icon {
      path {
        fill: black
      }
    }
  }
}