@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.cv-wizard-container {
  margin: -3.25rem auto;
  padding: 3.25rem 0;
  background: linear-gradient(90deg, $redi-blue-light 50%, $white 50%);

  &__cv-preview {
  }

  &__form {
  }
}

Dear Salma,

I'm sorry to tell you that we need to cancel today's CV Builder test/interview. We faced unforeseen difficulties in getting the tool online and ready.

I'll be in touch again soon week about rescheduling. I hope you're still interested in helping us to test the tool.

Apologies for the inconvenience.

Best regards,
Eric
