@import '~bulma/sass/utilities/_all';

.location-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablet() {
    margin-left: 0.5rem;
  }
}

.icon-align {
  position: relative;
  bottom: 2px;
}
