// Copied directly from 'FindAMentor.scss'

@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.filters {
  @include tablet() {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__dropdown {
    @include tablet() {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}

.filters-inner {
  @include tablet() {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 1rem 0 0;

    &:last-child {
      margin: 0;
    }
  }

  @include mobile() {
    margin-bottom: 1rem;
  }
}

.active-filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  @include tablet() {
    align-items: center;
  }

  &__remove {
    margin-left: 0.2em !important;
    padding: 0.25em;
  }

  &__clear-all {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0.5rem 0.5rem;
    @include tablet() {
      margin: 0 0 0 0.75rem;
    }

    .icon {
      padding: 0.1rem;
      path {
        fill: black;
      }
    }
  }

  .tag {
    margin: 0 0.5rem 0.5rem 0;
  }
}

.filter-favourites {
  display: flex;
  align-items: center;

  &__icon {
    margin-left: 0.3rem;
  }
}
