@import '../../styles/_variables.scss';

.datepicker-trigger {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;

    path {
      fill: $redi-orange-dark;
    }
  }
}

.react-datepicker-wrapper {
  display: block;
}
