@import '~bulma/sass/utilities/_all';
@import '../../styles/_variables.scss';

.tiles {
  display: flex;
  justify-content: center;

  @include mobile() {
    flex-direction: column;
    align-items: center;
  }

  &__type {
    align-items: flex-start;
    padding: 1.5rem;
    max-width: 26rem;
    box-shadow: $default-shadow;

    @include mobile() {
      padding: 1rem;
      width: 100%;
    }

    &:first-child {
      @include tablet() {
        margin-right: 1.5rem;
      }

      @include mobile() {
        margin-bottom: 1.5rem;
      }
    }

    &__heading strong {
      font-weight: $weight-normal;
    }

    &__button {
      justify-content: flex-start;
      padding-left: 0;

      &--mentor {
        color: $redi-blue-dark;

        &:hover {
          color: $redi-blue-dark;
        }

        .icon path {
          fill: $redi-blue-dark;
        }
      }

      &--mentee {
        color: $redi-orange-dark;

        .icon path {
          fill: $redi-orange-dark;
        }
      }
    }
  }

  &__image {
    height: 12rem;
    width: auto;
    display: block;
    margin: 1rem auto;

    @include mobile() {
      max-height: 7rem;
    }
  }
}
