@import '_variables.scss';

.profile-card-link:hover {
  text-decoration: none;
}

.profile-card {
  border-radius: 4px;
  height: 24.5rem;
  overflow: hidden;

  &:hover {
    box-shadow: $card-shadow-hover;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    img {
      height: 9.5rem !important;
      overflow: hidden;
      object-fit: cover;
    }
  }

  &__favorite {
    padding: 0.5rem;
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;

    &__icon {
      transition: $transition;

      path {
        fill: white;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.pipe-list {
  margin-bottom: 8px;
}
