@use '_colors' as colors;
@import '~bulma/sass/utilities/_all';
@import '_variables.scss';

.hero-landing {
  &--mentee {
    background-image: linear-gradient(
      to bottom,
      colors.$redi-orange-light 80%,
      colors.$white 80%
    );

    @include mobile() {
      background-image: linear-gradient(
        to bottom,
        colors.$redi-orange-light 95%,
        colors.$white 95%
      );
    }

    g {
      fill: colors.$redi-orange-dark;
    }

    .column,
    hr {
      border-color: colors.$redi-orange-dark;
    }
  }

  &--mentor {
    background-image: linear-gradient(
      to bottom,
      colors.$redi-blue-light 80%,
      colors.$white 80%
    );

    @include mobile() {
      background-image: linear-gradient(
        to bottom,
        colors.$redi-blue-light 95%,
        colors.$white 95%
      );
    }

    g {
      fill: colors.$redi-blue-dark;
    }

    .column,
    hr {
      border-color: colors.$redi-blue-dark;
    }
  }

  &__text {
    @include desktop() {
      margin: 0 auto;
      max-width: 70%;
    }
  }

  &__illustration {
    @include desktop() {
      position: absolute;

      &--mentor {
        right: -5rem;
        top: 5rem;
      }

      &--mentee {
        left: -5rem;
        top: 2rem;
      }
    }

    @include mobile() {
      max-height: 12.5rem;
    }
  }

  &__columns {
    background: colors.$white;
    padding: 2rem;
    border-radius: 0.25rem;
    margin: 4rem 0;
    box-shadow: $default-shadow;

    @include mobile() {
      margin-top: 1.5rem;
    }

    .column {
      &:not(:last-child) > hr {
        margin-right: -2rem;
      }

      @include mobile() {
        &:not(:first-child) {
          border-left-style: solid;
          border-width: 2px;
        }

        padding: 0 0 0 1rem;

        &:not(:last-child) {
          padding-bottom: 2rem;
        }
      }
    }

    &__arrow {
      @include tablet() {
        margin-top: 3.5rem;
      }

      @include mobile() {
        transform: rotate(90deg);
        transform-origin: top left;
        margin-left: 1rem;
      }
    }

    &__name {
      margin-top: -1.5rem;

      @include mobile() {
        margin-top: -3rem;
        margin-bottom: 2rem;
      }
    }

    &__separator {
      border: 1px solid;
      margin: 1rem 0;
    }
  }
}
