.title {
  // is a class used in bulma, the border modifier
  // is just a way of adding our own styles
  &--border {
    position: relative;
    padding-bottom: 2rem;
    &::after {
      content: '';
      width: 3.25rem;
      border: 2px solid $redi-orange-dark;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 2px;
    }
  }
}
