$white: #FFF;
$black: #000;

$orange: #EA5B29;
$orangeMedium: #F6B9A2;
$orangeLight: #FAD7CA;
$blue: #58ADC4;
$blueMedium: #92C3D0;
$blueLight: #DEEFF3;
$grey: #5D5D5D;
$greyMedium: #A0A0A0;
$greyLight: #DADADA;