@import '..//styles/ColorPalette.scss';

.getInTouch {
  &__wrapper {
  }
  &__container {
    padding: 5rem 0;
    background-image: url('../assets/images/footer.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  &__text-box {
    &-text {
      max-width: 35rem;
      color: $black;
      margin-top: 2.4rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3.2rem;
    }
    &-btn {
      margin-top: 4rem;
    }
  }
}