*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

server/ssl/

start-prod.sh
start-demonstration.sh
send-single-reminder-email.sh
send-reminder-emails.sh
secound-round.sh

.env.production
.env.development
.env
