@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.application-card {
  padding: $block-spacing;
  border-radius: $radius;
  transition: $transition;
  box-shadow: $card-shadow;

  &:hover {
    box-shadow: $card-shadow-hover;
  }
  
  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }

  // not happy with the solution, time for refactoring together with avatar
  &__avatar {
    display: flex;
    align-items: center;
    .avatar {
      width: 2rem;
      height: 2rem;
      padding-top: 2rem;
      margin: 0 0.5rem;
      flex-shrink: 0;
    }
  }

  &__link {
    font-weight: $weight-bold;
    color: $primary;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-details {
    transition: $transition;
    padding: 0 1.5rem;
    overflow: hidden;
    max-height: 0;

    &--show {
      max-height: 500px;
      margin: 1.5rem 0;
    }
  }

  &-dropdown {
    transition: $transition;
    float: right;

    &--show {  
      transform: rotate(180deg);
    }
  }
}

