@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.application-card {
  border: 1px solid $grey;
  padding: $block-spacing;
  border-radius: $radius;
  margin-bottom: $block-spacing;
  
  // not happy with the solution, time for refactoring together with avatar
  &__avatar {
    display: flex;
    align-items: center;
    .avatar {
      width: 2rem;
      height: 2rem;
      padding-top: 2rem;
      margin-right: 0.5rem;
    }
  }

  &__link {
    font-weight: $weight-bold;
    color: $primary;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-details {
    transition: $transition;
    padding: 0 2rem;
    overflow: hidden;

    &--hide {
      max-height: 0;
    }

    &--show {
      max-height: 500px;
      margin-bottom: $block-spacing * 2;
    }
  }

  &-dropdown {
    width: .7rem;
    height: .7rem;
    display: inline-block;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;
    transition: $transition;
    vertical-align: middle;
    cursor: pointer;
    
    &--up {  
      transform: rotate(225deg);
      margin-top: 15%;
    }

    &--down {
      transform: rotate(45deg);
      margin-top: -25%;
    }
  }
}

