@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots li {
  width: .75rem;
  height: .75rem;
  background: $grey-light;
  border-radius: 50%;

  & button:before {
    content: '';
  }

  &.slick-active {
    background: $red;
  }
}

.carousel {
  &:focus {
    outline: none;
  }
}