@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.checklist {
  margin: 0 auto;
  width: fit-content;

  @include tablet() {
    max-width: 80%;
  }

  &__item {
    padding-bottom: 2.75rem;
    padding-left: 2.75rem;
    margin-left: 1.25rem;
    position: relative;

    @include mobile() {
      padding-bottom: 1.5rem;
      padding-left: 1.75rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      background-color: rgba(2, 167, 129, 0.08);
      left: -1.25rem;
      top: -.25rem;
      border-radius: 50%;

      @include mobile() {
        width: 2rem;
        height: 2rem;
        left: -1.125rem;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 1rem;
      top: .25rem;
      left: -.25rem;
      border: solid $green;
      border-width: 0 2px 2px 0;
      transform: rotate(40deg);

      @include mobile() {
        width: .3rem;
        height: .6rem;
      }
    }
  }
}