@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.footer {
  background: $white;

  &--border {
    border-top: 1px solid $grey-light;

    p {
      padding-top: 1.5rem;
    }
  }

  a {
    color: $black;
    font-weight: $weight-normal;

    &:hover {
      text-decoration: none;
    }
  }

  hr {
    width: 1.5rem;
    border: 1px solid $redi-orange-dark;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}