@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.footer {
  background-color: $redi-blue-light;
  padding-top: 3.2rem;
  padding-bottom: 4.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
  color: $black;
  border-top: 2px solid $black;

  @include mobile() {
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    font-size: 1rem;
    line-height: 2.1rem;
  }

  & a {
    color: $black;
    text-decoration: underline;
  }
}
