@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.navbar {
  background: $white;
  // not happy with this overwrite, there should be a nices solution
  padding: $section-padding;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    width: 100%;
    align-items: center;

    @include tablet() {
      font-size: $size-4;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 8rem 1.25rem;
    background-color: $white;
    background-image: url('../../assets/images/bubbles.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: .75rem;
    right: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $redi-orange-dark;
  }
}