@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.pre-footer {
  &-container {
    background-color: $white;
    padding: 3rem 0;

    @include mobile() {
      margin-bottom: -2.5rem;
    }
  }

  &-heading.title {
    margin-bottom: 1.5rem;

    @include mobile() {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  &-content {
    margin-bottom: 2.5rem;
    line-height: 2rem;
    color: $black;

    @include mobile() {
      margin-bottom: 1.5rem;
    }
  }

  &-image {
    position: absolute;
    bottom: -2rem;
    right: 0;
  }
}
