@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.pre-footer {
  background-color: $white;

  &-heading.title {
    margin-bottom: 1.5rem;

    @include mobile() {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  &-content {
    margin-bottom: 2.5rem;
    line-height: 2rem;
    font-size: 1.25rem;
    color: $black;

    @include mobile() {
      margin-bottom: 1.5rem;
    }
  }

  &-image {
    position: absolute;
    bottom: -1.5rem;
    right: 0;

    @include mobile() {
      position: relative;
      margin: 0 1rem .25rem;
    }
  }
}