.profile-card {
  border-radius: 4px;
  height: 25rem;
  overflow: hidden;
  cursor: pointer;

  &__name {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    img {
      height: 9.5rem;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .tags {
    margin-top: 1rem;
    
    .tag {
      overflow: hidden; 
      text-overflow: ellipsis;
      white-space: nowrap;

      display: inline-block;
      line-height: 2rem;
    }
  }
}