@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.hero-landing {
  &__section {
    &--mentee {
      background-image: linear-gradient(to bottom, $redi-orange-light 80%, $white 80%);


      @include mobile() {
        background-image: linear-gradient(to bottom, $redi-orange-light 95%, $white 95%);
      }
    }

    &--mentor {
      background-image: linear-gradient(to bottom, $redi-blue-light 80%, $white 80%);

      @include mobile() {
        background-image: linear-gradient(to bottom, $redi-blue-light 95%, $white 95%);
      }
    }
  }

  &__content {
    @include desktop() {
      margin: 0 auto;
      max-width: 70%;
    }
  }

  &__illustration {
    @include desktop() {
      position: absolute;

      &--mentor {
        right: -5rem;
        top: 5rem;
      }

      &--mentee {
        left: -5rem;
        top: 3rem;
      }
    }

    @include mobile() {
      max-height: 12.5rem;
    }
  }

  &__columns {
    background: $white;
    padding: 2rem;
    border-radius: .25rem;
    margin: 4rem 0;
    box-shadow: $default-shadow;

    @include mobile() {
      padding: 1rem 2rem;
      margin-top: 1.5rem;
    }
  }

  &__column {
    &:not(:last-child)>hr {
      margin-right: -2rem;
    }

    @include mobile() {
      border-width: 2px;
      border-left-style: solid;
      padding: 0 1rem;

      &:not(:last-child) {
        padding-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  &__icon {
    &--arrow {
      @include tablet() {
        margin-top: 3.5rem;
      }

      @include mobile() {
        transform: rotate(90deg);
        transform-origin: top left;
        margin-left: 1rem;
      }
    }

    &--name {
      margin-top: -1.5rem;

      @include mobile() {
        margin-top: -3rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__separator {
    border-width: 1px;
    border-style: solid;
    margin: 1rem 0;
  }
}