@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.program {
  &__img {
    @include mobile() {
      margin-bottom: .75rem;
    }
  }

  &__text {
    margin: 1.5rem 1.25rem 1rem 1.25rem;

    @include mobile() {
      margin: .25rem 4rem;
    }
  }
}